{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier le Livre</h1>

    <div class="card shadow-sm mb-3">
        <div class="card-body">
            {{ include('book/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>

    <div class="mt-3">
        <a href="{{ path('app_book_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
        {{ include('book/_delete_form.html.twig') }}
    </div>
{% endblock %}
