{% extends 'base.html.twig' %}

{% block title %}Edit CartItem{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">Modifier l'article du panier</h1>

    <section class="cart-item-edit">
        {{ include('cart_item/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="mt-3 text-center">
            <a href="{{ path('app_cart_item_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
            {{ include('cart_item/_delete_form.html.twig') }}
        </div>
    </section>
</div>
{% endblock %}
